@mixin sizes($width, $height) {
    height: $height;
    width: $width;
 }

.textoSeccionPrincipal1, .textoSeccionPrincipal2{
    padding: 10px;
    background: #3c9fd966;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoSeccionAlternativo{
    @extend .textoSeccionPrincipal2;
    color: red;
    @include sizes(70%, 30px)
}

.seccionPrincipal img{
    width: 100%;
    height: 100%;
    padding: 10px;
}