.textoSeccionPrincipal1, .textoSeccionPrincipal2{
    padding: 10px;
    background: #3c9fd966;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionPrincipal img{
    width: 100%;
    height: 100%;
    padding: 10px;
}