@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
.secContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secContacto img {
  width: 100%;
  height: 100%;
}

.tituloSecContacto {
  background: #3c9fd966;
  margin: 5px;
}

.formularioDeContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: #7e8186;
}

.formularioDeContacto div {
  width: 50%;
}

.textoConsulta {
  margin-top: 10px;
}

.botonesContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.botonesContacto input {
  margin-right: 30px;
  margin: 10px 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.navbar a {
  color: black;
}

footer {
  color: white;
  background-color: #17173b;
}

footer a {
  padding-right: 5px;
  color: white;
}

.textoSeccionPrincipal1, .textoSeccionPrincipal2 {
  padding: 10px;
  background: #3c9fd966;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccionPrincipal img {
  width: 100%;
  height: 100%;
  padding: 10px;
}

@media (min-width: 1024px) {
  .seccionPrincipal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seccionPrincipal img {
    max-width: 700px;
  }
  .contenedor1, .contenedor2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
  }
  .contenedor2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .textoSeccionPrincipal1, .textoSeccionPrincipal2 {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contenedorImagenContacto {
    max-width: 700px;
  }
  .secContacto {
    height: 75vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tituloSecContacto {
    background-color: white;
  }
  footer h4 {
    font-size: 2rem;
  }
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */